database-project/src/main/mule/database-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d7b4ec5c-ec1d-4170-89b6-303b75be5c70" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="66e1c8b3-a092-486d-a26b-38e232c4fee1" >
		<db:mssql-connection host="muletraining.database.windows.net" port="1433" user="user" password="muletraining@123" databaseName=" MuleDB" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="d4e5ab22-ec34-48ee-a225-5099faccec9c" >
		<db:mssql-connection host="muletraining.database.windows.net" port="1433" user="user" password="muletraining@123" databaseName="MuleDB" />
	</db:config>
	<flow name="database-projectFlow" doc:id="36699f2b-5180-4079-bd60-6f7a96cbc1d6" >
		<http:listener doc:name="Listener" doc:id="2c8c3451-4485-4aae-aed5-2162b4093332" config-ref="HTTP_Listener_config" path="/db"/>
		<logger level="INFO" doc:name="Logger" doc:id="56adc8e3-b427-4712-80b3-62ae09acd5e9" message="started flow-select operation"/>
		<db:select doc:name="Select" doc:id="934fbd5a-493a-4362-9870-06bbf2bc4cce" config-ref="Database_Config1">
			<db:sql ><![CDATA[Select * from SalesLT.Customer where FirstName = 'BOb']]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1651848a-40dc-4890-b3fb-c3fc55967a9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cd365769-95d6-4f32-9951-86f75d07e0dd" message="#[payload]"/>
	</flow>
</mule>
