consumesoap/src/main/mule/consumesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d62e085a-4051-4440-be4b-e0a3de0dce2f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="e6cf51e0-a8ae-4d1b-a2e2-5be48758311f" >
		<wsc:connection wsdlLocation="https://www.learnwebservices.com/services/hello?WSDL" service="HelloEndpointService" port="HelloEndpointPort" address="https://www.learnwebservices.com/services/hello" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consumesoapFlow" doc:id="504c9c12-bea3-4cfc-84b0-1cda283118ec" >
		<http:listener doc:name="Listener" doc:id="12e8e8a6-2fcc-405d-837b-0bcc2d82d268" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="da50b06c-0d26-45e0-9449-014bce711094" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://learnwebservices.com/services/hello
---
{
	ns0#SayHello: {
		ns0#HelloRequest: {
			ns0#Name: payload
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="SayHello" doc:name="Consume" doc:id="6ca66b8f-4224-4411-8fbf-f337dfe18022" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="9190751c-3d10-4a1a-959b-f2cef5c6d7cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://learnwebservices.com/services/hello

output application/json
---
"message":payload.body.ns0#SayHelloResponse.ns0#HelloResponse.ns0#Message]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
