consume-request/src/main/mule/consume-request.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="208d89d7-5fcd-4cea-910f-4954ca684fb0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b8d13ca4-64ba-4dd6-ad3c-c4b9aedee9b5" >
		<http:request-connection host=" comsume-tejasree.us-e2.cloudhub.io/calculator" />
	</http:request-config>
	<flow name="consume-requestFlow" doc:id="a90a2950-7172-414a-8869-f39cf31d41ca" >
		<http:listener doc:name="Listener" doc:id="68fc0d97-f270-41ab-9975-580866163dd3" config-ref="HTTP_Listener_config" path="/requestcomsume"/>
		<set-variable value="#[uuid()]" doc:name="correlationid" doc:id="34584ff9-7b93-4d64-8a44-e8da8a8d09e4" variableName="correlationid"/>
		<logger level="INFO" doc:name="Logger" doc:id="ac889cea-0864-43df-a836-c43efc874b08" message="correlationid.#[vars.correlationid]"/>
		<ee:transform doc:name="Transform Message" doc:id="4fb91066-4667-4fd2-996a-7711f26d56df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
"operation":"add",
"q1":20,
"q2":10
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c222b8e3-93e8-4ba1-b785-c91a89b9945b" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="135095f9-f4c7-4a69-b77c-b5f1352e4612" config-ref="HTTP_Request_configuration" path="/importwsdlcalculator"/>
		<logger level="INFO" doc:name="Logger" doc:id="6b986065-3dd6-4bda-a8c8-153ba4b840a3" message="correlationid.#[vars.correlationid] -response -#[vars.response]-#[payload]"/>
	</flow>
</mule>
