javacalldw/src/main/mule/javacalldw.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2aae037-2569-4752-99fb-dd03c82cc878" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="javacalldwFlow1" doc:id="af586e1f-1df8-4929-bfd6-e5e33c7b9233" >
	</flow>
	<flow name="javacalldwFlow" doc:id="c75694c6-a675-40da-aa2e-ce7a69147208" >
		<http:listener doc:name="Listener" doc:id="9343f254-5d74-4c42-93b2-18d27b003733" path="/dwjava" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="85a76846-3ac9-4917-9362-6882898d1e98" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import java!muleandjava::mulejavademo
---
{
  note:mulejavademo::getwelcomemessage()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="615e0d0a-c639-4a6e-9414-7eba71cf20d5" message="#[payload]"/>
	</flow>
</mule>
